<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastrar Usuário</title>
</head>
<body>
    <header>
        <h1>Biblioteca Divertida</h1>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('listar_usuarios') }}">Usuários</a>
        </nav>
    </header>
    <main>
        <h2>Cadastrar Usuário</h2>
        <form action="{{ url_for('cadastrar_usuario') }}" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>
            <button type="submit">Cadastrar Usuário</button>
        </form>
    </main>
</body>
</html>
